body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/etsy-8-ball.png');
    font-family: 'Quicksand', sans-serif;
    color: white;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#user-output {
    color: blanchedalmond;
    font-size: 1.5em;
}